.CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
}

.CompareList {
  display: flex;
  border-radius: 0.2rem;
  justify-content: center;
  margin: 0 auto;
  height: 14.8rem;
  width: 100%;
  max-width: 20rem;
}