.CompareCard {
  color: white;
  display: flex;
  border-left: 0.3rem dotted white;
  border-right: 0.3rem dotted white;
  border-bottom: 0.3rem dotted white;
  justify-content: space-around;
  margin: 0 auto;
  height: 5rem;
  max-width: 17rem;
  text-align: center;
}

h4 {
  padding: 0 3rem;
  width: 2rem;
}

p {
 margin: 1rem auto;
}


.hide h4 {
  display: none;
}